@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-links #nav-indicator {
  position: absolute;
  bottom: -1.6rem;
  @apply bg-red-600 transition-[width,left] rounded-tl-md rounded-tr-md;
  height: 4px;
}

.nav-links .indicator-default {
  left: 0;
  width: 75px;
}
.nav-links .indicator-switch {
  left: 87px;
  width: 160px;
}
.navActive {
  @apply text-red-600;
}
.navDefault {
  @apply text-gray-400 hover:text-gray-500 transition-colors duration-300;
}

.cardWrapper:hover{
  @apply bg-red-600 cursor-pointer transition;
}
.cardWrapper:hover .categoryIcon svg path,
.cardWrapper:hover .content svg path{
  @apply stroke-white
}
.cardWrapper:hover .content:has(h4,p){
  @apply text-white
}
.jobs-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.jobs-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.yellowChip{
  @apply text-sm px-5 py-2 rounded-full bg-[#FFF1D7] text-[#FFB836]
}
.greenChip{
  @apply text-sm px-5 py-2 rounded-full bg-[#DDF5EF] text-[#56CDAD]
}
.redChip{
  @apply text-sm px-5 py-2 rounded-full bg-[#FFE0DC] text-[#FF6550]
}

